{% extends "layout.html" %}
{% block content %}
  <!--<h1>Petit Prince</h1>-->
  <div class="row_home align-items-center">
    <div class="column_home">
      <img id= "prince" src="https://cdn.radiofrance.fr/s3/cruiser-production/2019/11/22a536e5-08c0-4a31-bf36-e897521ce010/838_petit_prince.jpg" alt="petit_prince">
    </div>
    <div class="column_home">
      <div class="about">
        <p><strong>“On ne voit bien qu'avec le cœur”</strong><br>

          Antoine de Saint-Exupéry <br>

          HOMMAGE MULTILINGUE
          AU PETIT PRINCE<br>

          149 langues
          157 extraits sonores
          ...and counting...
        </p>
      </div>
    </div>
  </div>
  <div class="buttons">
    <a class="btn btn-dark bg-steel" href="/liste_langues">Afficher la liste des langues</a>
    <a class="btn btn-dark bg-steel" href="/carte">Afficher la carte du monde</a>
    <a class="btn btn-dark bg-steel">Afficher l'arbre hiérarchique des groupes de langues</a>

  </div>
{% endblock content%}
